.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #f5f8ff;
    margin: 0;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 100%;
    height: 690px ;
 

}
.banner{
    
    margin: 150px
   267px 49px 267px;
height: 237px;
 max-width: 100%;
}
.secondary-btn{
    display: flex;
   justify-content:  space-around;
  
}
.header-sub-title{
 text-align: center;
  font-size: 60px;
  font-weight: 700;
}




.logo-title{
    color: rgb(78, 71, 255) ;
    font-size: 34px;
    font-weight: 900

}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 0px 150px;
    align-items: center;
}
.btn-primary{
   width: 132px;
height: 48px;
border-radius: 10px;

background: rgb(78, 71, 255);
color:rgb(255, 255, 255) ;
border: 0px;
border-radius: 10px;
padding: 12px 36px 12px 36px;
}
.btn-secondary{


   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: 300;
   padding: 12px 36px 12px 36px;
   border-radius: 10px;

background: rgb(78, 71, 255);
border: none;
width: 174px;
height: 48px;

    
}
.action-part{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1140px;
    margin: 116px 150px 116px 150px ;
    gap: 240px
    ;
   

}
.action-part img{
width: 390px;
height: 320px;
border-radius: 48px;

}
.action-title{
    font-size: 42px;
font-weight: 700;
}


.action-sub-title{
    font-size: 24px;
font-weight: 400;
color: rgba(37, 36, 50, 0.5);
margin-top: 23px ;
}
.launch-btn{
    background-color:rgb(78, 71, 255) ;
    border: none;
    width:200
    px;
    height: 36px;
    border-radius: 10px;
}
 .launch-btn-seondary{
    color: rgb(255, 255, 255);
    padding: 12px 36px 12px 36px;

 }
 .productive-part{
   border-radius: 24px;
background: rgba(78, 71, 255, 0.1);
height: 306px;

margin: 116px 141px 137px 141px;
 }
 .productive-part-title{
    text-align: center;
  padding-top: 50px ;
  color: rgb(37, 36, 50);
   font-size: 38px;
   font-weight: 700;
 }
 .user-number{
    display: flex;
    justify-content: space-around;
 }
 .user-sign{
    color: rgb(78, 71, 255);
    font-size: 40px;
    font-weight: 600;
 }
 .user-sign-sun-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
 }
 
 .star-parent{
    display: flex;
 }
 .card-footer{
   
 display: flex;
 
 align-items: center;
gap: 5px

 ;

 }
 .card-footer img{
   border-radius: 50%;

 }
 .card-title{
    color: rgb(30, 30, 30);
    font-weight: 600;
    font-size: 24px;
 }
 .card-sub-title{
    color:rgb(30, 30, 30) ;
    font-weight: 400;
    font-size: 16px;

 }
 .Reviewer-name{
    color:rgb(117, 117, 117) ;
    font-size: 16px;
    font-weight: 600;
 }
 .form-part{
    display: flex;
    justify-content:space-around;
 }
 .cards-container{
  display: flex;
  gap: 20px;
  padding: 0px 149px 137px 151px;
   
   
 }
 .challange-part-title{
    text-align: center;
    color: rgb(37, 36, 50);
    font-size: 42px;
    font-weight: 700;
 }
 
 .challange-part{
border: none;
border-radius: 14px;
background: rgba(255, 255, 255, 0.5);

 }
 .footer-parent{
    display: flex;
  margin: 0 auto;
  justify-content: space-around;
 }
 footer section{
    width: 531px;
height: 221px;
margin: 0 auto;
box-sizing: border-box;
border-top: 1px solid rgba(0, 0, 0, 0.1);

text-align: center;

 }
 footer{
background: rgb(255, 255, 255);
max-width: 100%;
width: 1440px;
height: 428px;
 }
 footer section h1{
    font-weight: 900;
    font-size: 100px;
   color:rgb(78, 71, 255);
 }
footer section div a{
   
    text-decoration: none ;
    color: rgb(137, 135, 161);
    font-weight: 400;
    font-size: 16px;
}
footer section p{
 
  color: rgb(137, 135, 161);
  font-weight: 400;
  font-size: 16px;
}
.form-part{
max-width: 100%;
width: 1140px;
height: 600px;
display: flex;
justify-content: space-around;
}
form input {
   width: 497px;
   height: 70px;
   display: block;
   align-items: center;
  


}
.email-type , .text-type{
   width: 497px;
   height: 70px;
   margin: 20px 0px 19px 0px;
   
   border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;

   background: rgb(255, 255, 255);

}
form textarea{
   width: 497px;
height: 135px;
  margin: 20px 0px 19px 0px;

}
.form-title{
   
   color:rgb(0, 0, 0) ;
   font-weight: 600;
   font-size: 50px;
   padding: 70px 100px
    0px 150px;
  

}

input::placeholder {
 padding: 20px 32px 20px 32px;
color: rgb(0, 0, 0);
}
textarea::placeholder{
   padding: 20px 32px 20px 32px;
   color: rgb(0, 0, 0);
}
.button{
   width: 497px;
height: 62px;
border-radius: 10px;

background: rgb(78, 71, 255);
border: none;
border-radius: 10px;
}
input[type="submit"] {
 padding: 19px 101px 19px 101px;
 font-size: 16px;
font-weight: 700;
color: rgb(255, 255, 255);
}
.message{
  
border: 1px solid rgb(214, 221, 237);
border-radius: 10px;

background: rgb(255, 255, 255);
}